@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.aboutus-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member{
    display:flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.memberTitle{
    font-family: 'Popins', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #031B46;
    margin-bottom: 10px;
    padding: 41px;
}
.memberCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 172px;
  
}
.section-content-container{
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
   /* background-color: brown; */

}
.aboutus {
    display: flex;
    background-image: url("../../../assets/images/fishing-nets-fisheries-blue-port-wallpaper 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;

    
}

.aboutus-text {
    color: white;
    /* #143ab6; */
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    /* align-items: center; */
    /* margin-top: 200px; */
    /* line-height: 100%; */
    /* background-color: blue; */

}
.row-container {
    display: flex;
    justify-content: space-between;
    gap:10px;
    
  }
  .directors{
    display:flex;
    flex-direction: column;
    gap:12px
    
  }
  .director-items{
    display: flex;
    justify-content: space-between;
    gap:10px;
 
  }
  .director-text{
    margin-top: 172px;
    margin-bottom: 46px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #031B46;
    text-align: center;



  }



