.heading-text {
  color: white;
}

/*
.noTenders {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 15vw 0vw;
}
*/

.section-title {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.tender-container {
  flex: 1;
  margin-right: 20px;
  margin: 5vw 5vw 5vw 12vw;
}

.tender-list {
  list-style-type: none;
  padding: 0;
}

.tender-item {
  display: flex;
  align-items: center;
  vertical-align: text-top;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.bookmark-icon {
  color: black;
  margin-right: 1rem;
  padding: auto;
}

.announce-icon {
  color: black;
  margin-right: 1rem;
  padding: auto;
  vertical-align: top;
}

.announcement-container {
  flex: 2;
  margin-bottom: 5vw;
}

@media (max-width: 768px) {
  /* */
}

.announcement-card {
  display: flex;
  margin: 1vw 5vw;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 1vw;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1);
}

.announcement-image {
  flex: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1vw 0vw 0vw 1vw;
  background-repeat: no-repeat;
}

.announcement-content {
  flex: 2;
  padding: 16px;
}

.announcement-title {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  margin-left: 5vw;
}

.announcement-details {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin-left: 5vw;
  margin-right: 5vw;
}

.announcement-date {
  text-align: right;
  font-family: "Poppins", sans-serif;
  margin-right: 2vw;
  margin-top: 6vw;
  color: #5a5a5a88;
  font-size: 1rem;
}

@media screen and (max-width: 425px) {
  .section-title {
    font-size: 26px;
  }
}