@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
   
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-content{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 454px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.section-container{
    
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    
}

.card {
    text-align: center;
  }

.section-title1 {
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

.section-title2 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: -20px;
}

.sub-content
{
     flex-direction: row;
     margin-left: 10px;
}

.contact-title3 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: -5px;
    color : #3F74A4;
}


.sub-content-button button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .icon {
    color: #3F74A4; 
    font-size: 35px; 
  }
  
  .icon:hover {
    color: #92b8db; 
  }

.contact-title4 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color : #3F74A4;
}


.contact-text {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}


  .map-container {
  width: 95%;
  height: 100px;
  padding-bottom: 20%; 
  position: relative;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 10px;
}


.contact-form-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.image-container {
    background-image: url("../../../assets/images/image.jpg");
    background-size: cover;
    flex: 1;
    height: 100%;
}

.form-container {
    flex: 1;
    background-color: #323648;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column  ;
}

  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-left: 10px;
  }
  
  .form-textarea {
    align-items: center;
    width: 95%;
    padding: 10px;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    resize: vertical; 
    min-height: 100px; 
    margin-bottom: 15px;
  }
  

  .submit-button {
    background-color: #001E54;
    color: #fff;
    font-size: 18px;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    align-items: center;
    justify-content: center;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }


  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .contact-hero {
    height: 40vh;
  }

  .contact-content {
    flex-direction: column;
    height: auto;
  }

  .section-container {
    width: 100%;
    margin: 10px 0;
  }

  .map-container {
    padding-bottom: 60%;
  }

  

  .form-input {
    width: 80%;
  }

  .form-textarea {
    width: 90%;
    margin-right: 0;
  }

  .submit-button {
    width: 80%;
    margin-left: 0;
    align-self: center;
  }
  .image-container {
    display: none; 
  }

}


@media screen and (min-width: 769px) {
 
  .contact-content {
    height: 454px;
  }

  .map-container {
    padding-bottom: 20%;
  }

  

  .form-container {
    flex-direction: column;
  }

  .form-label {
    margin-bottom: 5px;
  }

  .form-input{
    width: 90%;
    margin-left: 10px;
  }

   .form-textarea {
    width: 95%;
  }

  .submit-button {
    width: 30%;
    margin-left: 10px;
    align-self: center;
  }
}