.container {
    flex: 1;
    margin-right: 20px;
    margin: 4vw;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    height: inherit;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 1vw;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    /* Add shadow effect */
}

.image {
    width: 100%;
    height: 200px;
    /* Set a specific height */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Make sure the image covers the entire area */
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* Make the content a flex container */
}

.title {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.description {

    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
}

.date {
    font-family: "Poppins", sans-serif;
    margin-right: 2vw;
    margin-top: 6vw;
    color: #5a5a5a88;
    font-size: 1rem;
    align-self: flex-end;
    /* Align the date to the right */
}

@media (max-width: 560px) {
    .row-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .title {
        font-size: 1.2rem;
    }

    .description {
        font-size: 1rem;
    }

    .date {
        font-size: 0.8rem;
    }
}

/* For tablet devices */
@media (min-width: 561px) and (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    .title {
        font-size: 1.2rem;
    }

    .description {
        font-size: 1rem;
    }

    .date {
        font-size: 0.8rem;
    }
}