@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.gallery--hero {
    background-image: url("../../../assets/images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 60vh;
    position: relative;
    
}

.gallery--section--container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;   
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery--section--row--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.gallery--section--row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%; 
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.gallery--section--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px; 
    max-height: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap:10px;
    background: var(--bg-shade);
}
.gallery--section--card:hover {
    border-bottom: 4px solid var(--primary);
    color: var(--darkblue);
    transition: all 0.3s ease-in-out;
  }
.gallery--section--img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px; 
    height: 300px;
    padding: 10px;
    gap:10px;
}
.gallery--section--img > img{
    width: 400px;
    max-height: 300px;
    object-fit: cover;
}
.gallery--section--card--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 400px; 
    padding-bottom: 10px;
    gap:10px;
}
.gallery--section--title{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 5px;
    color : #3F74A4;
}
.gallery--section--description{
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 10px;
    color : #000000;
}