

.Joinus--section--container{
    flex: 1;
    margin-right: 20px;
    margin: 4vw;

}

.joinus--section {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.joinus--section--card{
    width: 30%;
    height: inherit;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 1vw;

    background: rgb(158, 158, 196);
}

.joinus--section--card:hover {
    border-bottom: 4px solid var(--primary);
    color: var(--darkblue);
}

.joinus--section--img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../../images/joinus.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}

.joinus--section--img>h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.joinus--section--description{

    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 10px;
    color : #414141;
   
}
.joinus--section--btn--container{
    align-items: center;

}

.btn {
    font-family: "Poppins";
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.btn-outline-primary {
    color: white;
    background-color: rgb(16, 36, 88);
    border: 1px solid rgb(16, 36, 88);

}

.btn-outline-primary:hover {
    color: white;
    background-color: rgb(33, 33, 163);

  }


  @media (min-width: 561px) and (max-width: 1024px) {
    
    .joinus--section--card{
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}


@media (max-width: 560px) {
    .joinus--section{
        flex-direction: column;
        
    }

    .joinus--section--card{
        width: 100%;
    }
}



