@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.product-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-text-home{
    color: black;
    /* #143ab6; */
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}




.section-content-container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
}
.topic-container{
    align-items: centre;

}
.topic-text{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
}
.para-product{
    
    font-size: 25px;
    font-weight: 10;
    max-width: 1300px;
    padding-bottom: 15px;
    text-align: center;
}

@media screen and (max-width: 820px) {
    .product-text {
        font-size: 50px;
    }
}   
    .section-content-container{ 
        max-width: 800px;

}
    .para-product{
        font-size: 20px;
        max-width: 800;
    }