
.footerbar{
    width: inherit;
    max-width: 1857 ;
    background-color: #203864;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.footerbar-up-side{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-down-bar{
    background-color: #001E54;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: static;
}
.footer-content-title{
    display: flex;

    justify-content: center; /* Center items horizontally */
    align-items: center; 
    margin-left: 200px;
}
.footer-content-title >p{
    font-size: 32px;
}

.footer-content-title > p{
    margin: 10px;
}

.footer-contact{
    
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    text-align: left;
    margin-left: 339px;
    margin-right: 200px;

}

.footer-contact-us {
    display: flex;
    margin: 8px 0;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.footer-contact-us-icon {
   margin-right: 30px;
} 
.footer-content-link > h3{
    margin-left: -5px;
}
.footer-content-link > a{

    color: #ffffff;
    text-decoration: none;
}
.footer-content-conect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 340px;
}

@media screen and (max-width:820px) {


.footerbar{
    max-width: 820px;
    max-width: inherit ;
    background-color: #203864;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.footerbar-up-side{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    min-width: 820;
    flex-wrap: wrap;
}
.footer-content-conect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 44px;
}

.footer-content-title{
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; 
    margin-left: -130px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer-content-title >p{
    font-size: 32px;
    margin: 10px;
}


.footer-contact{
    
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    text-align: left;

}

.footer-contact-us {
    display: flex;
    margin: 8px 0;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.footer-contact-us-icon {
   margin-right: 30px;
} 
.footer-content-link > h3{
    margin-left: -5px;
}
.footer-content-link > a{

    color: #ffffff;
    text-decoration: none;
}
}


@media screen and (max-width:390px) {
.footerbar{
    width: 390;
    max-width: 390 ;
    background-color: #203864;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.footerbar-up-side{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
}
.footer-content-conect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: inherit;
}
.footer-down-bar{
    background-color: #001E54;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: static;
    padding: 0px 37px;
}
.footer-content-title{
    display:-webkit-box;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-content-title >p{
    font-size: 32px;
    margin: 10px;
}


.footer-contact{
    
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    text-align: left;
    font-size: larger;
    margin-left: 32px;
    margin-bottom: 13px;

}

.footer-contact-us {
    display: flex;
    margin: 8px 0;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.footer-contact-us-icon {
   margin-right: 30px;
}
.footer-content-link{
    font-size: larger;
    margin-left: 32px;
    
} 
.footer-content-link > a{
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}
}