.footerbar{
    width: inherit;
    max-width: inherit ;
    background-color: #203864;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.footerbar-up-side{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
}
.footer-down-bar{
    background-color: #001E54;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: static;
}
.footer-content-title{
    display: flex;

    justify-content: center; /* Center items horizontally */
    align-items: center; 
    margin-left: 200px;
}
.footer-content-title >p{
    font-size: 32px;
}

.footer-content-title > p{
    margin: 10px;
}

.footer-contact{
    
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    text-align: left;
}

.footer-contact-us {
    display: flex;
    margin: 8px 0;
    align-items: center;
}

.footer-contact-us-icon {
   margin-right: 30px;
} 