@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Martel+Sans:wght@300&display=swap');

.navigation {
    width: 100%;
}

.navbar {
    color: white;
    width: 100%;
    /* max-width: 100%; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.navbar.opaque {
    background-color: black;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo-desktop {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding-left: -50px;
    padding-right: 0px;
}

.logo-link {
    font-family: 'Bitter', serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a.active-link {
    color: black;
    background-color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
}

.nav-link:hover {
    color: black;
    background-color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

.desktop-nav {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mobile {
    display: none;
}

.icon {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .logo-link {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #mobile {
        width: 100%;
        max-width: 900px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo-desktop {
        display: none;
    }

    .desktop-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #0400cc;
        position: fixed;
        top: 60px;
        left: 0px;
        width: 250px;
        height: 100vh;
        transition: 0.2s ease-in-out;
    }

    .active-mobile-nav {
        left: -350px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    #mobile {
        max-width: 425px;
        width: 100%;
    }
}